/* 主容器 */
.resume-container {
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0.2rem 0.16rem;
  color: rgba(0,0,0,0.6);
  font-size: 0.12rem;
}

/* 个人信息区域 */
.personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.24rem;
  opacity: 0;
}

.personal-details {
  flex: 1;
}

.name {
  color: #000000;
  font-size: 0.20rem;
  font-weight: bold;
  margin-bottom: 0.08rem;
}

.contact-info {
  display: flex;

  gap: 0.16rem;

}

.contact-info span {
  font-size: 0.12rem;
  display: flex;
  align-items: center;
}

.contact-info img {
  width: 0.16rem;
  height: 0.16rem;
  margin-right: 0.04rem;
}

.avatar-placeholder  img{
 width: 0.6rem;
  height: 0.6rem;
  object-fit: cover;
  border-radius: 50%;
}

/* 内容区域 */
.content-section {

opacity: 0;
}
.show-page{
  opacity: 1;
}
.section {
  border-top: 1px solid #EFEFEF;;
  padding: 0.16rem 0;
}
.section-experience{
  padding-bottom: 0.02rem;
}
.section:last-child {
  margin-bottom: 0;
}

.section-title {
  font-size: 0.16rem;
  font-weight: bold;
  color: #000000;
  padding-bottom: 0.16rem;
}


/* 自我评价 */
.self-evaluation {
  line-height: 0.14rem;
  white-space: pre-wrap;

}

/* 求职意向 */
.job-intention {

}

.job-item {
  margin-bottom: 0.16rem;
}

.job-item:last-child {
  margin-bottom: 0;
}

.job-position {
  color: #000000;
  font-weight: bold;
  font-size: 0.14rem;
  margin-right: 0.07rem;
}

.salary {
  color: #0A59F7;
  font-weight: bold;
}

.location {
 margin-top: 0.08rem;
}

/* 工作经历 */
.experience-item {
  margin-bottom: 0.18rem;
  position: relative;
}



.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  color: #000000;
  font-size: 0.14rem;
  font-weight: bold;
}


.position {
  margin:0.08rem 0;
}

.experience-description {
  line-height: 0.14rem;
  font-size: 0.12rem;
  white-space: pre-wrap;
}

/* 项目经验 */
.project-item {
  margin-bottom: 0.18rem;
  position: relative;
}


/* 教育背景 */
.education-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.18rem;
}

.university-logo {
  width: 0.4rem;
  height:0.4rem;
  background-color: #d8d8d8;
  border-radius: 0.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.12rem;
  text-align: center;
  margin-right: 0.12rem;
}

.education-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.university {
  color: #000000;
  font-size: 0.16rem;
  font-weight: bold;
  margin-bottom: 0.06rem;
}

/* 职业技能 */
.skills-description {
  line-height: 0.16rem;
  white-space: pre-wrap;
}
.certification{
  display: flex;
  flex-wrap: wrap;
}
.certification span{
  padding: 0.06rem 0.1rem;
  background: #F5F5F5;
  border-radius:0.04rem;
  margin-right: 0.08rem;
  margin-bottom: 0.06rem;
  color: rgba(0,0,0,0.6);
  font-size: 0.12rem;
}