<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人简历</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/export.css">

</head>
<body>
<div class="resume-container" id="app">
    <!-- 个人信息区域 -->
    <div class="personal-info" :class="{'show-page':showPage}">
        <div class="personal-details">
            <h1 class="name">{{appData.personal?.name}}</h1>
            <div class="contact-info">
                <span v-if="appData.personal?.phone"><img src="./img/ic_phoneNumber.png" alt=""> {{appData.personal?.phone}}</span>
                <span v-if="appData.personal?.email"><img src="./img/ic_email.png" alt=""> {{appData.personal?.email}}</span>
            </div>
        </div>
        <div class="avatar-placeholder">
            <img
                    v-if="appData.personal?.avatarUrlBase64"
                    :src="'data:image/png;base64,'+appData.personal?.avatarUrlBase64"
                    class="avatar"
            />
            <img v-else src="./img/photo.png" class="avatar">
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content-section" :class="{'show-page':showPage}">
        <!-- 自我评价 -->
        <div class="section">
            <h2 class="section-title">
               自我评价
            </h2>
            <p class="self-evaluation" v-html="appData.selfEval">

            </p>
        </div>

        <!-- 求职意向 -->
        <div class="section">
            <h2 class="section-title">
                <i class="fa fa-briefcase"></i>求职意向
            </h2>
            <div class="job-intention">
                <div class="job-item" v-for="item in appData.draftList">
                    <span class="job-position" v-if="item.position">{{item.position}}</span>
                    <span class="salary">{{item.salary}}</span>
                    <div class="location">
                        <span v-if="item.city">{{item.city}}</span>
                        <span v-if="item.city && item.industry">·</span>
                        <span v-if="item.industry">{{item.industry}}</span>
                    </div>
                </div>

            </div>
        </div>

        <!-- 工作经历 -->
        <div class="section section-experience">
            <h2 class="section-title">
                工作经历
            </h2>
            <div class="experience-item"  v-for="item in appData.work">
                <div class="experience-header">
                    <span class="company">{{item.company}}</span>
                    <span class="period">{{item.startDate}}-{{item.endDate}}</span>
                </div>
                <div class="position">{{item.position}}</div>
                <p class="experience-description" v-html="item.description" >

                </p>
            </div>

        </div>

        <!-- 项目经验 -->
        <div class="section section-experience">
            <h2 class="section-title">
               项目经验
            </h2>
            <div class="project-item" v-for="item in appData.project">
                <div class="experience-header">
                    <span class="company">{{item.name}}</span>
                    <span class="period">{{item.startDate}}-{{item.endDate}}</span>
                </div>
                <div class="position">{{item.role}}</div>
                <p class="experience-description" v-html="item.description">

                </p>
            </div>

        </div>

        <!-- 教育背景 -->
        <div class="section section-experience">
            <h2 class="section-title">
                教育背景
            </h2>
            <div class="education-item" v-for="item in appData.edu">
                <div class="university-logo">logo</div>
                <div class="education-details">
                    <div class="university-out">
                    <div class="university">{{item.school}}</div>
                    <div class="degree">
                        <span v-if="item.degree">{{item.degree}}</span>
                        <span v-if="item.degree && item.major"> · </span>
                        <span v-if="item.major">{{item.major}}</span>
                    </div>
                    </div>
                    <div class="period">{{item.startDate}}-{{item.endDate}}</div>
                </div>
            </div>
        </div>

        <!-- 职业技能 -->
        <div class="section">
            <h2 class="section-title">
                职业技能
            </h2>
            <p class="skills-description" >
                <span v-for="item in appData.skill" v-html="item"></span>
            </p>
        </div>
        <!-- 资格证书 -->
        <div class="section ">
            <h2 class="section-title">
                资格证书
            </h2>
            <div class="certification">
                <span  v-for="item in appData.cert">{{item.name}}</span>

            </div>
        </div>
    </div>
</div>

<script src="./js/resetFont.js">

    
</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script src="./js/vueLoad.js">


</script>
</body>
</html>