<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>个人简历</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/huge.css">

</head>
<body>
<div class="resume-container" id="app">
    <!-- 左侧蓝色区域 -->
    <div class="left-panel" :class="{'show-page':showPage}">
        <div class="avatar-div">
            <img
                    v-if="appData.personal?.avatarUrlBase64"
                    :src="'data:image/png;base64,'+appData.personal?.avatarUrlBase64"
                    class="avatar"
            />
            <img v-else src="./img/ic_defaultAvatar.png" class="avatar">
            <h1 class="name">{{appData.personal?.name}}</h1>
        </div>
        <div class="left-content">
            <div class="left-title-out">
                <h3 class="left-title">个人信息</h3>
            </div>
            <div class="info-item">
                <span>工作城市</span>
                <span class="info-name">{{appData.draftList?.[0]?.city}}</span>
            </div>
            <div class="info-item">
                <span>求职意向</span>
                <span class="info-name">{{appData.draftList?.[0]?.position}}</span>
            </div>
            <div class="info-item">
                <span>电子邮箱</span>
                <span class="info-name">{{appData.personal?.email}}</span>
            </div>
            <div class="info-item">
                <span>手机号码</span>
                <span class="info-name">{{appData.personal?.phone}}</span>
            </div>
            <div class="left-title-out">
                <h3 class="left-title">教育背景</h3>
            </div>
            <div class="edu-list" v-for="item in appData.edu">
                <div class="info-item info-item-edu">
                    <span class="edu-left">{{item.degree}} </span>
                    <span>{{item.startDate}}{{ (item.startDate && item.endDate) ? '-' : '' }}{{item.endDate}}</span>
                </div>
                <div class="info-item">
                    <span>{{item.school}}{{ item.major ? '·' + item.major : '' }}</span>
                </div>
            </div>

            <div class="left-title-out">
                <h3 class="left-title">资格证书</h3>
            </div>
            <ul class="certification-list">
                <li class="certification-item" v-for="item in appData.cert">{{item.name}}</li>
            </ul>
        </div>
    </div>

    <!-- 右侧内容区域 -->
    <div class="right-panel" :class="{'show-page':showPage}">
        <!-- 自我评价 -->
        <h2 class="right-title">自我评价</h2>
        <p class="self-eva" v-html="appData.selfEval">

        </p>

        <!-- 工作经验 -->
        <h2 class="right-title">工作经验</h2>
        <div class="experience-item" v-for="item in appData.work">
            <div class="experience-header">
                <div class="experience-company">
                    <span>{{item.company}}</span>
                    <span class="experience-period">|</span>
                    <span>{{item.startDate}}-{{item.endDate}}</span>
                </div>
                <span class="experience-position">{{item.position}}</span>
            </div>
            <p class="experience-description" v-html="item.description">

            </p>
        </div>


        <!-- 项目经验 -->
        <h2 class="right-title">项目经验</h2>
        <div class="experience-item" v-for="item in appData.project">
            <div class="experience-header">
                <div class="experience-company">
                    <span>{{item.name}}</span>
                    <span class="experience-period">|</span>
                    <span>{{item.startDate}}-{{item.endDate}}</span>
                </div>
                <span class="experience-position">{{item.role}}</span>
            </div>
            <p class="experience-description" v-html="item.description">

            </p>
        </div>


        <!-- 职业技能 -->
        <h2 class="right-title">职业技能</h2>

        <p class="skills-content" v-for="item in appData.skill" v-html="item">

        </p>

    </div>
</div>

<script src="./js/resetFont.js">


</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script src="./js/vueLoad.js">


</script>
</body>
</html>